@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: #FFFFFF;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    background-position: center center;
    background-size: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 20vh;
}

.title{
    background-color: #2D343C;
}

.titulo{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
    color: #F35200;
    text-decoration: none;
    animation: moveLeft 10s infinite linear;
    position: relative;
}

@keyframes moveLeft {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); } 
}

.slider-box{
    width: 1280px;
    height: 720px;
    margin: 50px auto 0;
    overflow: hidden;
}

.slider-box ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
}

.slider-box li{
    width: 100%;
    list-style: none;
    position: relative;
}

.texto{
    position: absolute;
    text-align: center;
    padding: a 250px;
    top: 250px;
    color: #FFFFFF;
}

.texto h2{
    font-size: 45px;
    margin-bottom: 35px;
    text-decoration: none;
}

.slider-box img{
    width: 100%;
}

@keyframes slide{
    0% {margin-left: 0;}
    25% {margin-left: 0;}
    
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

@media(max-width:991px){
    .slider-box{
        width: 100%;
    }

    .texto{
        top: 50px;
        padding: 0 25px;
    }

    .texto h2{
        font-size: 35px;
        margin-bottom: 15px;
    }

    .texto p{
        font-size: 15px;
    }
}

.menu{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

.menu .navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu .navbar ul li {
    margin-right: 20px;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #FFFFFF;
    display: block;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.3s ease;
} 

.menu .navbar ul li a:hover{
    color: #F35200;
}

.btn-1{
    background-color: #575757;
    border-radius: 25px;
    text-transform: capitalize;
    margin-right: 10px
}

.btn-1:hover{
    background-color: #2D343C;
}

.products{
    padding: 70px 0 0 0;
    text-align: center;
    background-color: #2D343C;
}

h2{
    color: #FFFFFF;
    font-size: 40px;
    margin-bottom: 35px;
    text-decoration: underline;
}

.products-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:35px;
}

.products img{
    width: 250px;
    border-radius: 25px;
}

.products h3{
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.products p{
    font-size: 16px;
    color: #ECEBEB;
    margin-bottom: 10px;
}

.precio{
    color: #F35200 !important;
}

main{
    background-color: #2D343C;
}

.contact{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;;
}

.contact>h2{
    font-size: 40px;
    margin-bottom: 20px;
    color: #2D343C;
    text-align: center;
    font-weight: bold;
}
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #2D343C;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #F35200;
}

.nosotros{
    margin: 0 auto;
    padding: 70px 0;
    background-color: #2D343C;
    text-align: center;
}

.nosotros-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:35px;
    max-width: 100%;
    overflow: hidden;
}

.nosotro{
    background-color: #FFFFFF;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    padding: 35px;
    text-align: left;
}

.nosotro h3{
    font-size: 20px;
    color: #2D343C;
    margin-bottom: 10px;
}

hr{
    width: 100px;
    border: 2px solid #F35200;
}

.nosotro p{
    font-size: 16px;
    color: #575757;
    margin-top: 15px;
}

iframe {
    border: none;
}


footer {
    background-color: #2D343C;
    color: #2D343C;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

footer img {
    width: 30px;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 17px;
    transition: transform 0.5s ease;
}

footer p{
    color: #FFFFFF;
}

footer img:hover {
    transform: rotate(-30deg);
    transition: transform 0.5s ease;
}


.link h3{
    color: #FFFFFF;
    font-size: 18px;
    margin-bottom: 15px;
}

.link a{
    font-size: 16px;
    color: #ECEBEB;
    margin-bottom: 10px;
    display: block;
}

.link a:hover{
    color: #F35200;
}

@media(max-width:991px){
    .menu{
        padding: 20px;
    }
    .menu label{
        display: initial;
    }
    .menu .navbar{
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        background-color: #2D343C;
        display: none;
    }
    .menu .navbar ul li{
        width: 100%;
        text-align: center;
    }
    #menu:checked ~ .navbar{
        display: initial;
    }
    .logo{
        display: none;
    }
    
    .header{
        min-width: 0vh;
    }
    .header-content{
        padding: 100px 30px;
    }
    .header-txt{
        padding: 0;
    }
    .products{
        padding: 30px;
    }
    .products-content{
        grid-template-columns: repeat(1,1fr);
    }
    .nosotros{
        padding: 30px;
        margin: 0;
    }
    .nosotros-content{
        grid-template-columns: repeat(1,1fr);
    }
    .footer{
        flex-direction: column;
        text-align: center;
    }
}

/* .carrusel{
    width: 100%;
}

.conteCarrusel{
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.itemCarrusel{
    position: relative;
    width: 100%;
    height: 100%;
}

.cardCarrusel{
    width: 100%;
    height: 100%;
}

.flechaCarrusel{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}


.flechaCarrusel > i:hover{
    cursor: pointer;
}

#contePuntos{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#contePuntos > a{
    font-size: 1.5em;
    font-style: none;
    color: black;
}

img{
    width: 100%;
    height: 100%;
} */