@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: "Playfair Display", serif;
    background-color: #FFFFFF;
}

main {
    padding-top: 130px;
}

nav a img{
    margin-top: -23px;
}

/* navbar */
nav{
    background-color: #FFFFFF;
    height: 130px;
    width: 100%;
    margin: 0 auto;
    padding-top: 25px;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1000;
}

nav ul{
    float: right;
    margin-right: 5px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: #FFFFFF;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 80px;
    transition: color 0.3s ease;
    font-weight: bold;
}

nav ul li a:hover{
    color: #eff300;
}

a.active, a:hover{
    background: #575757;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: #575757;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

.btn-1{
    background-color: #575757;
    border-radius: 25px;
    text-transform: capitalize;
    margin-right: 10px
}

.btn-1:hover{
    background-color: #0552aa;
}

h2{
    color: #FFFFFF;
    font-size: 40px;
    margin-bottom: 35px;
    font-weight: bold;
}

/* Título */
.title{
    background-color: #0552aa;
}

.titulo{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
    color: #eff300;
    text-decoration: none;
    animation: moveLeft 20s infinite linear;
    position: relative;
}

@keyframes moveLeft {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); } 
}

/* Carrusel */
.slider-box{
    width: 1280px;
    height: 720px;
    margin: 50px auto 0;
    overflow: hidden;
}

.slider-box ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
}

.slider-box li{
    width: 100%;
    list-style: none;
    position: relative;
}

.slider-box img{
    width: 100%;
    border-radius: 10px;
}

@keyframes slide{
    0% {margin-left: 0;}
    25% {margin-left: 0;}
    
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

.texto{
    position: absolute;
    text-align: center;
    padding: a 250px;
    top: 250px;
    color: #0f0f0f;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    background-color: rgba(240, 240, 240, 0.253);
    box-shadow: 0px 0px 10px rgb(0,0,0,0.5);
} 

.texto > h2{
    font-size: 60px;
    margin-bottom: 35px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: #0f0f0f;
}

.texto > p{
    font-size: 25px;
    font-weight: bold;
}

/* Productos */
.products-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:35px;
    justify-content: center;
    align-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.product {
    background-color: #220f0f;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 400px;
    text-align: center;
}

.products-1, .products-2, .products-3, .products-4{
    padding: 70px 0 0 0;
    text-align: center;
    background-color: #2D343C;
    border-bottom: 1px solid #0f0f0f;
}

.products-1 img{
    width: 250px;
    border-radius: 15px;
    border: 1px solid #ddd;
}

.product:hover img {
    transform: scale(0.8);
}

.products-1 h3{
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.products-1 p{
    font-size: 16px;
    color: #ECEBEB;
    margin-bottom: 10px;
}

/* Empanadillas */
.products-2{
    background-color: #BF7F3F;
    border-bottom: 1px solid #0f0f0f;
    
}

.products-2 img{
    width: 250px;
    border-radius: 15px;
}

.products-2 h3{
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.products-2 p{
    font-size: 16px;
    color: #ECEBEB;
    margin-bottom: 10px;
}

/* Tabletas */
.products-3{
    background-color: brown;
    border-bottom: 1px solid #0f0f0f;
}

.products-3 img{
    width: 250px;
    border-radius: 15px;
}

.products-3 h3{
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.products-3 p{
    font-size: 16px;
    color: #ECEBEB;
    margin-bottom: 10px;
}

/* Alfeñiques */
.products-4{
    background-color: #556B2F;
    border-bottom: 1px solid #0f0f0f;
}

.products-4 img{
    width: 250px;
    border-radius: 15px;
}

.products-4 h3{
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.products-4 p{
    font-size: 16px;
    color: #ECEBEB;
    margin-bottom: 10px;
}

.precio{
    color: #F35200 !important;
}

main{
    background-color: #2D343C;
}

/* Formulario */

.contact{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;;
}

.contact>h2{
    font-size: 40px;
    margin-bottom: 20px;
    color: #2D343C;
    text-align: center;
    font-weight: bold;
}
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #2D343C;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #F35200;
}

.error{
    color: red;
    font-weight: bold;
    font-size: 14px;
    
  }

.nosotros{
    margin: 0 auto;
    padding: 70px 0;
    background-color: #2D343C;
    text-align: center;
}

.nosotros-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:35px;
    max-width: 100%;
    overflow: hidden;
}

.nosotro{
    background-color: #FFFFFF;
    padding: 35px;
    text-align: left;
}

.nosotro h3{
    font-size: 20px;
    color: #2D343C;
    margin-bottom: 10px;
}

hr{
    width: 100px;
    border: 2px solid #F35200;
}

.nosotro p{
    font-size: 16px;
    color: #575757;
    margin-top: 15px;
}

iframe {
    border: none;
}


footer {
    background-color: #0552aa;
    color: #2D343C;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

footer a{
    text-decoration: none;
    box-shadow: none;
}

footer img {
    width: 30px;
    margin: 10px;
    margin-top: 20px;
    transition: transform 0.5s ease;
}

footer p{
    color: #FFFFFF;
}

footer img:hover {
    transform: rotate(-30deg);
    transition: transform 0.5s ease;
}


.link h3{
    color: #FFFFFF;
    font-size: 18px;
    margin-bottom: 15px;
}

.link a{
    font-size: 16px;
    color: #ECEBEB;
    margin-bottom: 10px;
    display: block;
}

.link a:hover{
    color: #F35200;
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #575757;
        top: 130px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav{
        position: fixed;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #F35200;
    }
    #check:checked ~ ul{
        left: 0;
    }
}

@media(max-width:991px){
    a{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
    .slider-box{
        width: 100%;
    }

    .texto{
        top: 50px;
        padding: 0 25px;
    }

    .texto h2{
        font-size: 35px;
        margin-bottom: 15px;
    }

    .texto p{
        font-size: 15px;
    }

    .products{
        padding: 30px;
    }
    .products-content{
        grid-template-columns: repeat(1, 1fr);
        padding: 0 50px;
    }
    .nosotros{
        padding: 30px;
        margin: 0;
    }
    .nosotros-content{
        grid-template-columns: repeat(1,1fr);
    }
    .footer{
        flex-direction: column;
        text-align: center;
    }
}
