<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/4.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/a0166bc72d.js" crossorigin="anonymous"></script>
    <title>Tuculandia</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <a href="../index.html"><img src="../static/img/4.png" alt="Logo"></a>
    <ul>              
      <li><a href="../index.html" class="btn-1">INICIO</a></li>
      <li><a href="./productos.html" class="btn-1">PRODUCTOS</a></li>
      <li><a href="./contacto.html" class="btn-1">CONTACTO</a></li>
      <li><a href="./nosotros.html" class="btn-1">CONÓCENOS</a></li>
      <li><a href="./templates/preguntas.html" class="btn-1">FQA</a></li>
    </ul>
  </nav>

  <main>
    <section class="faq">
        <div class="container">
            <h1>Preguntas Frecuentes</h1>
            <div class="faq-item">
                <h2>¿Qué tipos de dulces regionales ofrecen?</h2>
                <p>Ofrecemos una amplia variedad de dulces tradicionales, incluyendo alfajores con turrón de miel, empanadillas de dulce de cayote y batata, tabletas de miel de caña y alfeñiques. Todos nuestros productos están hechos con ingredientes naturales y recetas ancestrales.</p>
            </div>
            <div class="faq-item">
                <h2>¿Cuáles son los métodos de pago aceptados?</h2>
                <p>Aceptamos diversas formas de pago, incluyendo tarjetas de crédito y débito, Mercado Pago, y transferencias bancarias. Puede seleccionar su método de pago preferido al finalizar su compra.</p>
            </div>
            <div class="faq-item">
                <h2>¿Realizan envíos a todo el país?</h2>
                <p>Sí, realizamos envíos a todo el país. El tiempo de entrega puede variar según su ubicación, pero generalmente los pedidos se entregan en un plazo de 3 a 7 días hábiles.</p>
            </div>
            <div class="faq-item">
                <h2>¿Ofrecen opciones de envío internacional?</h2>
                <p>Actualmente, no ofrecemos envíos internacionales. Sin embargo, estamos trabajando para poder ofrecer este servicio en el futuro.</p>
            </div>
            <div class="faq-item">
                <h2>¿Qué debo hacer si mi pedido llega dañado?</h2>
                <p>Si su pedido llega dañado, por favor contáctenos inmediatamente con una foto del producto dañado y su número de pedido. Le ofreceremos una solución adecuada, que puede incluir el reembolso o el envío de un producto de reemplazo.</p>
            </div>
            <div class="faq-item">
                <h2>¿Puedo cancelar o modificar mi pedido?</h2>
                <p>Puede cancelar o modificar su pedido antes de que haya sido enviado. Para hacerlo, contáctenos lo antes posible con su número de pedido y los detalles de la modificación o cancelación que desea realizar.</p>
            </div>
            <div class="faq-item">
                <h2>¿Cómo puedo contactar con el servicio al cliente?</h2>
                <p>Puede contactar con nuestro servicio al cliente a través de nuestro formulario de contacto en la página de <a href="./contacto.html">CONTACTO</a>.</p>
            </div>
        </div>
    </section>
</main>

    <footer>
        <div class="text-center">
          <a href="https://www.facebook.com" target="_blank">
            <img src="../static/img/facebook.svg" alt="Facebook">
          </a>
          <a href="https://www.instagram.com" target="_blank">
            <img src="../static/img/instagram.svg" alt="Instagram">
          </a>
          <a href="https://www.youtube.com" target="_blank">
            <img src="../static/img/youtube.svg" alt="Youtube">
          </a>
          <a href="https://goo.gl/maps/WptMKA4um2Ut27NH6" target="_blank">
            <img src="../static/img/maps.svg" alt="Ubicación">
          </a>
        </div>
        <div>
          <p>Todos los derechos reservados &copy; 2024 - Victor Alfonso Hardoy</p>
        </div>
      </footer>
</body>
</html>